
.projects {
  padding: 20px;
  background-color: #1a1a1a;
  color: var(--highlight-color);
  align-content: center;
  text-align: center;
  align-items: center;
  height: 100Vh;
}

.projects-title {
  font-size: 2.5vw;
  color: var(--color-secondary);
  margin-bottom: 10px;
}

.project-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.project-card {
  background-color: var(--color-tree);
  border-radius: 10px;
  padding: 10px;
  width: 230px;
  text-align: center;
  transition: transform 0.5s, opacity 0.5s;
  box-shadow: 0 4px 8px var(--color-tree);
}

.project-card.center {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}

.project-card.left,
.project-card.right {
  opacity: 0.5;
  filter: blur(5px);
  transform: scale(0.8);
  z-index: 1;
}

.project-card.left {
  left: -250px;
}

.project-card.right {
  right: -250px;
}

.project-card.hidden {
  display: none;
}

.project-title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 15px;
}

.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.project-info {
  font-size: 0.8rem;
  margin: 5px 0;
  text-align: left;
  color: var(--color-secondary);
  line-height: 1.2;
}

.project-info strong{
  color: white;
}

.play-button {
  background-color: var(--color-secondary);
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: var(--color-primary);
}

.arrow {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--color-primary);
  cursor: pointer;
  margin: 0 20px;
  transition: color 0.3s;
}

.arrow:hover {
  color: var(--color-tree);
}

/* Media Query for Responsiveness */

@media (max-width: 1024px) {
  .project-card {
    width: 200px;
  }

  .projects-title {
    font-size: 2rem;
  }
  .project-title{
    font-size: 1.2rem;
  }

  .project-info {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .projects-title {
    font-size: 1.8rem;
  }
  .project-container {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .project-card {
    width: 250px;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    transform: scale(1);
    filter: none;
    opacity: 1;
  }

  .project-card.hidden, 
  .project-card.left, 
  .project-card.right {
    display: none;
  }

  .arrow {
    font-size: 1.5rem;
    margin: 5px;
  }
}

@media (max-width: 320px) {
  .projects{
    height: 80vh;
  }
  .projects-title {
    font-size: 1.5rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-info {
    font-size: 0.8rem;
  }

  .play-button {
    font-size: 8px;
    padding: 8px 16px;
  }
}

@media (max-width: 300px) {

  .project-card.center {
    font-size: 0.5rem;
  }

  .project-title, .projects-title {
    font-size: 0.8rem;
  }

  .project-info {
    font-size: 0.5rem;
  }

  .play-button {
    font-size: 10px;
    padding: 8px 16px;
  }
}
