@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --color-primary: #03738C;
  --color-secondary: #049DD9;
  --color-tree: #020659;
  --color-four: #139899;
}

html{
  margin: 0;
}

body{
  padding: 0;
  margin: 0;
  height: max-content;
  font-family: 'Press Start 2P', cursive;
}


